<% layout('Layouts/Boilerplate') -%>


    <section class="row  my-4 pt-4">
        
        <div class=" col-12   d-flex flex-column ">
            <div class="card shadow p-5" >
                <div class="card-body">
                  <h2 class="card-title"><%= course.title %></h2>
                  <p class="card-text"><%= course.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <% for( let point of course.points ) { %>
                        <li class="list-group-item d-flex align-items-center">
                            <img class = "me-2" src="/images/tick.svg" alt="no">
                            <p class="mb-0"><%= point %> </p>
                        </li>
                    <% } %>
                </ul>
            
              </div>
           
           
        </div>
        

</section>
                    <!-- Description Card -->

<section class="row mt-5 course-content justify-content-between">
        <div class="col-lg-9 mb-2">
            <div class="card shadow rounded-2 p-0">
                <!-- Tabs START -->
                <div class="card-header border-bottom px-4 py-3">
                    <ul class="nav nav-pills nav-tabs-line py-0" id="course-pills-tab" role="tablist">
                        <!-- Tab item -->
                        <li class="nav-item me-2 me-sm-4" role="presentation">
                            <button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-0" data-bs-toggle="pill" data-bs-target="#course-pills-0" type="button" role="tab" aria-controls="course-pills-0" aria-selected="true" tabindex="-1">Overview</button>
                        </li>
                        <!-- Tab item -->
                        <li class="nav-item me-2 me-sm-4" role="presentation">
                            <button class="nav-link mb-2 mb-md-0 " id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="false">Curriculum</button>
                        </li>
                    </ul>
                </div>
                <!-- Tabs END -->

                <!-- Tab contents START -->
                <div class="card-body text-light p-4">
                    <div class="tab-content pt-2" id="course-pills-tabContent">
                        <!-- Content START -->
                        <div class="tab-pane fade active show" id="course-pills-0" role="tabpanel" aria-labelledby="course-pills-tab-0">
                            <!-- Course detail START -->
                            <h5 class="mb-5">Course Description</h5>
                            <p class="mb-5"><%= course.description %></p>                            
                            <!-- List content -->
                            <h5 class="my-5">What you'll learn</h5>
                            <ul class="list-group list-group-borderless my-4">
                                <% for( let point of course.points ) { %>
                                    <li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i><%= point %></li>
                                <% } %>

                            </ul>
                            <p class="mb-3">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. </p>
                            <!-- Course detail END -->

                        </div>
                        <!-- Content END -->

                        <!-- Content START -->
                        <div class="tab-pane fade " id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
                            <!-- Course accordion START -->
                            <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                                <!-- Item -->
                          <% for( let unit of  course.unit ) { %>
                            <div class="accordion-item mb-3">
                                <h6 class="accordion-header font-base" id="heading-<%= unit.order %>">
                                    <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block <% if (unit.order !==1 ) { %>
                                     collapsed
                                    <% } %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= unit.order %>" aria-expanded="true" aria-controls="collapse-<%= unit.order %>">
                                        <%= unit.title %>
                                        <span class="small ms-0 ms-sm-2">(<%= unit.video.length%> Lectures)</span> 
                                    </button>
                                </h6>
                                <div >
                                    <div id="collapse-<%= unit.order %>" class="accordion-collapse collapse <% if (unit.order==1) { %>
                                     show
                                    <% } %> " aria-labelledby="heading-<%= unit.order %>" data-bs-parent="#accordionExample2" >
                                        <div class="accordion-body">
                                            <% for( let video of unit.video ) { %>
                                                     <!-- Course lecture -->
                                                     <div class="d-flex justify-content-between align-items-center">
                                                        <div class="position-relative d-flex align-items-center">
                                                            <a href="/course/<%= course.title %>/lecture/<%= video.id %>" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                                <i class="fas fa-play me-0"></i>
                                                            </a>
                                                            <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px"><%= video.title %></span>
                                                        </div>
                                                    </div>
                                                    <% if (video !== unit.video[unit.video.length-1] ) { %>
                                                        <hr> <!-- Divider -->
                                                    <% } %>
                                                   
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                          <% } %>

                                <!-- Item end -->
                                
                                        <!-- Accordion body END -->
                                    </div>
                                </div>
                            </div>
                            <!-- Course accordion END -->
                        </div>
                        <!-- Content END -->

                    </div>
                </div>
                <!-- Tab contents END -->
                        </div>
                </div>
            </div>
        </div>
    </div> 
                    <!-- Subscribe Card -->
        <div class=" col-sm-12 col-lg-3">   
            <div class="card shadow mx-auto" >
                <img src="/<%= course.img %>" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-text fw-semibold">This course includes:</h6>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> <b>Length</b> :<%= course.length %>h</li>
                  <li class="list-group-item"><b>Price</b>  : <%= course.price %>$</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                
                <div class="card-body py-4">
                    
                  <% if(User && User.subscribedCourses.length !== 0 ){ %>
                    <% var exists = false %>
                    <% for( let subcourse of User.subscribedCourses) { %>
                    <% if (subcourse.id === course.id) { %>
                        <a href="/course/<%= course.title %>/lecture/<%= course.unit[0].video[0].id %>" class="button1">go to lecture</a>
                        <% exists = true %>
                    <% } %>
                    <% } %>
                    <% if (!exists) { %>
                        <a href="/course/<%= course.title %>/subscribe" class="card-link py-3 button1">enroll</a>

                    <% } %>
                 <% } else { %>                   
                    <a href="/course/<%= course.title %>/subscribe" class="card-link py-3 button1">enroll</a>
                <% } %>
                </div>
              </div>
        </div>
</section>
    

    

