<% layout('Layouts/Boilerplate') -%>
<section>
<section class="row  align-items-center justify-content-center ">
    <div class="col">
        <div class="mt-5 ratio ratio-16x9">
            <iframe  src="<%= Video.url %>" title="YouTube video player"></iframe>
        </div>
    </div>
</section>
<section class="row justify-content-center course-content">
    <div class=" col mb-2">
        <div class="card shadow p-0">
            <!-- Tabs START -->
            <div class="card-header border-bottom px-4 py-3">
                <ul class="nav nav-pills  py-0" id="course-pills-tab" role="tablist">
                    <!-- Tab item -->
                    <li class="nav-item me-2 me-sm-4" role="presentation">
                        <button class="nav-link mb-2 mb-md-0 " id="course-pills-tab-0" data-bs-toggle="pill" data-bs-target="#course-pills-0" type="button" role="tab" aria-controls="course-pills-0" aria-selected="true" tabindex="-1">Overview</button>
                    </li>
                    <!-- Tab item -->
                    <li class="nav-item me-2 me-sm-4" role="presentation">
                        <button class="nav-link mb-2 mb-md-0 active " id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="false">Curriculum</button>
                    </li>
                    <!-- Tab item -->
                    <li class="nav-item me-2 me-sm-4" role="presentation">
                        <button class="nav-link mb-2 mb-md-0 " id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="false">Comment</button>
                    </li>

                </ul>
            </div>
            <!-- Tabs END -->

            <!-- Tab contents START -->
            <div class="card-body text-light p-4">
                <div class="tab-content pt-2" id="course-pills-tabContent">
                    <!-- Content START -->
                    <div class="tab-pane fade " id="course-pills-0" role="tabpanel" aria-labelledby="course-pills-tab-0">
                        <!-- Course detail START -->
                        <h5 class="mb-5">Course Description</h5>
                        <p class="mb-5">Our ZNO English preparation program is designed to provide students with the knowledge and skills they need to excel on the test. We focus on all areas of the exam, including reading, writing, speaking, listening, and grammar, and provide students with ample opportunities to practice and improve their skills through interactive activities and practice tests.</p>                            
                        <!-- List content -->
                        <h5 class="my-5">What you'll learn</h5>
                        <ul class="list-group list-group-borderless my-4">
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Strategies for approaching the different sections of the ZNO English test.</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Vocabulary and grammar rules necessary for the ZNO English test.</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Techniques for improving reading comprehension skills, including skimming and scanning</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Skills for writing effective essays, including structure, organization, and supporting arguments.</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Speaking and listening skills necessary for the ZNO English test, including pronunciation, fluency, and comprehension</li>
                            <li class="list-group-item h6 fw-light p-3 d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Confidence and test-taking strategies to help students achieve their best possible score on the ZNO English test.</li>

                        </ul>
                        <p class="mb-3">As it so contrasted oh estimating instrument. Size like body someone had. Are conduct viewing boy minutes warrant the expense? Tolerably behavior may admit daughters offending her ask own. Praise effect wishes change way and any wanted. Lively use looked latter regard had. Do he it part more last in. </p>
                        <!-- Course detail END -->

                    </div>
                    <!-- Content END -->

                    <!-- Content START -->
                    <div class="tab-pane fade active show " id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
                        <!-- Course accordion START -->
                        <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                            <!-- Item -->
                      <% for( let unit of  course.unit ) { %>
                        <div class="accordion-item mb-3">
                            <h6 class="accordion-header font-base" id="heading-<%= unit.order %>">
                                <button class="accordion-button fw-bold rounded d-sm-flex d-inline-block <% if (unit.order !==1 ) { %>
                                 collapsed
                                <% } %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= unit.order %>" aria-expanded="true" aria-controls="collapse-<%= unit.order %>">
                                    <%= unit.title %>
                                    <span class="small ms-0 ms-sm-2">(<%= unit.video.length%> Lectures)</span> 
                                </button>
                            </h6>
                            <div >
                                <div id="collapse-<%= unit.order %>" class="accordion-collapse collapse <% if (unit.order==1) { %>
                                 show
                                <% } %> " aria-labelledby="heading-<%= unit.order %>" data-bs-parent="#accordionExample2" >
                                    <div class="accordion-body">
                                        <% for( let video of unit.video ) { %>
                                                 <!-- Course lecture -->
                                                 <div class="d-flex justify-content-between align-items-center">
                                                    <div class="position-relative d-flex align-items-center">
                                                        <a href="/course/<%= course.title %>/lecture/<%= video.id %>" class="btn btn-danger-soft btn-round btn-sm mb-0 stretched-link position-static">
                                                            <i class="fas fa-play me-0"></i>
                                                        </a>
                                                        <span class="d-inline-block  ms-2 mb-0 h6 fw-light w-100px w-sm-200px w-md-400px"><%= video.title %></span>
                                                    </div>
                                                </div>
                                                <% if (video !== unit.video[unit.video.length-1] ) { %>
                                                    <hr> <!-- Divider -->
                                                <% } %>
                                               
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                      <% } %>

                            <!-- Item end -->
                            
                                    <!-- Accordion body END -->
                                </div>
                            </div>
                    <!-- Content END -->

                    <!-- Content START -->
                    <div class="tab-pane fade  " id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
                        <!-- Comment START -->
                        <div class="row">
                            <div class="col-12">
                                <!-- Header -->
                                <h5 class="mb-4">Ask Your Question</h5>
                                <!-- Add Comment -->
                                <div class="d-flex mb-4">       
                                    <form class="w-100 d-flex" action = "/course/<%= course.title %>/lecture/<%= Video.id %>" method="post">
                                        <textarea name = 'text'class="one form-control pe-4 bg-light" id="autoheighttextarea" rows="1" placeholder="Add a comment..."></textarea>
                                        <button class="btn btn-primary ms-2 mb-0" type="submit">Post</button>
                                    </form>
                                </div>

                                <!-- Comments  -->
                                <div class="border p-2 p-sm-4 rounded-3 mb-4">
                                    <ul class="list-unstyled mb-0">
                                        <% for( let comment of Video.comments) { %>
                                            <li class="comment-item border-bottom ">
                                                <div class="d-flex mb-1">
                                                    <div class="ms-2 w-100">
                                                        <!-- Comment by -->
                                                            <div class="bg-light rounded me-2 d-inline-flex flex-column justify-content-start w-100">
                                                                <div class="d-flex w-100"> 
                                                                    <h6 class="mb-1 lead fw-bold d-inline"> <a href="#!"> <%= comment.author.username %> </a></h6>
                                                                    <small class="d-inline ms-2"><%= comment.ago %></small>
                                                                    <% if (currentUser.id == comment.author.id) { %>
                                                                    <form class="ms-auto" action="/course/<%= course.title %>/lecture/<%= Video.id %>/<%= comment.id %>?_method=delete" method="post"> <button class="btn btn-danger" type="submit"> <img src="/images/trash.svg" alt=""></button></form>
                                                                    <% } %>

                                                                </div>
                                                                    <p class="h6 mb-0"><%= comment.text %></p>
                                                                
                                                            </div>
                                                        <!-- Comment react -->
                                                        <ul class="nav nav-divider pt-3 small">
                                                            <li class="nav-item ms-1"> <a class="text-primary-hover" href="#"> <%= comment.like %> Like </a> </li>
                                                            <li class="nav-item ms-1" > <a class="text-primary-hover reply-button"> Reply</a> </li>
                                                            <li class="nav-item ms-1"> <a class="text-primary-hover" href="#"> View  replies</a> </li>
                                                        </ul>
                                                 <!-- Add reply -->
                                                 <div class="d-flex mb-4 w-100" >       
                                                    <form  class="w-100 d-flex reply d-none" action = "/course/<%= course.title %>/lecture/<%= Video.id %>/<%= comment.id %>" method="post">
                                                        <textarea name = 'text' class="one form-control pe-4 bg-light" id="autoheighttextarea" style="display: inherit;" rows="1" placeholder="Add a comment..."></textarea>
                                                        <button class="btn btn-primary ms-2 mb-0" style="display: inherit;"  type="submit">Post</button>
                                                    </form>
                                                </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- Comment netsed item START -->
                                            <ul class="list-unstyled ms-4 mb-3 mt-3">
                                             <% for( let reply of comment.replies ) { %>
                                                <!-- Comment item START -->
                                                <li class="comment-item border-bottom">
                                                    <div class="d-flex">
                                                       
                                                        <!-- Comment by -->
                                                        <div class="ms-2 w-100">
                                                                <div class="bg-light rounded me-2 d-flex flex-column justify-content-start w-100">
                                                                    <div class="d-flex w-100"> 
                                                                        <h6 class="mb-1  lead fw-bold"> <a href="#"> <%= reply.author.username %></a> </h6>
                                                                        <% if (currentUser.id == reply.author.id) { %>
                                                                            <form class="ms-auto" action="/course/<%= course.title %>/lecture/<%= Video.id %>/<%= comment.id %>/<%= reply.id %>?_method=delete" method="post"> <button class="btn btn-danger" type="submit"> <img src="/images/trash.svg" alt=""></button></form>
                                                                        <% } %>
                                                                    </div>
                                                                    <p class=" mb-0"><%= reply.text %></p>
                                                                    <small><%= reply.ago %></small>
                                                                </div>
                                                            
                                                            <!-- Comment react -->
                                                            <ul class="nav nav-divider ms-3 py-2 small">
                                                                <li class="nav-item me-1"><a class="text-primary-hover" href="#!"> Like <%= reply.likes %></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- Comment item END -->
                                             <% } %>
                                            </ul>
                                        <% } %>
                                    </ul>
                                           
                                        
                                <!-- Comment item END -->

                    <!-- Content END -->



                </div>
            </div>
            <!-- Tab contents END -->
                    </div>
            </div>
        </div>
    </div>
</section> 
</section>
<script src="/js/script.js"></script>